.hero-title {
  z-index: 1;
}
.hero-image {
  z-index: 0;
}
.categorys-header {
  writing-mode: vertical-rl;
  letter-spacing: 24px;
  font-family: serif;
  font-size: 4rem;
  color: var(--main--color);
}
.categorys-header:after {
  content: '';
  position: absolute;
  right: calc( 0% + -80px);
  width: 100vw;
  height: 1px;
  border-bottom: 1px solid var(--main--color);
}

/* works */
#constructionLicense {
  background: url(../../static/kensetsu.png);
}
#managementExamination {
  background: url(../../static/keieijikou.png);
}
#bid {
  background: url(../../static/nyusatsu.png);
}
#industrialDisposal {
  background: url(../../static/sanhai.png);
}
#others {
  background: url(../../static/others.png);
}
#constructionLicense, #managementExamination, #bid, #industrialDisposal, #others {
  border-image: url(../../static/border_0.svg) repeat;
  border-image-slice: 24;
  border-top: 16px solid;
  min-height: 320px;
  background-repeat: no-repeat;
  background-size: auto 320px;
  background-position: 80% 32%;
  background-attachment: fixed;
}
#constructionLicense li, #managementExamination li, #bid li, #industrialDisposal li, #others li {
  list-style: '≫';
  padding-left: 8px;
}

/* child page common */
.child-page-wrapper section {
  max-width: 1200px;
  margin: auto;
}
/* .child-page-wrapper h2 {} */
.child-page-wrapper h3 {
  padding-left: 32px;
}
.child-page-wrapper h3:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--main--color);
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* works child page */
.page-navi-list {
  list-style: none;
}
.page-navi-list span:before {
  content: '▼';
  position: absolute;
  left: -16px;
}
.work-flow {
  gap: 80px;
}
.work-flow li {
  width: 160px;
  height: 160px;
}
.work-flow li:not(:last-child):before {
  content: '';
  position: absolute;
  right: -64px;
  border: 16px solid transparent;
  border-radius: 4px;
  border-left: 16px solid #000;
  width: 16px;
  height: 16px;
}
.list-has-head li::marker {
  font-size: 1.5rem;
}

/* features */
.features-head:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-bottom: 8px double var(--main--color);
  z-index: -1;
  transform: translate(-8%, -40%);
  /* border-radius: 0 0 16%; */
}

/* news */
.news-list-grid {
  grid-template-columns: 1fr 3fr;
  align-items: flex-start;
  margin-top: 16vh;
  margin-bottom: 16vh;
}
.news-list-head {
  top: 16vh;
  background: #9ed2c6;
  height: 72vh;
  z-index: 1;
}
.news-list-head:before, .news-list-head:after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 16vh;
  background: #f7ecde;
  left: 0;
  z-index: 1;
}
.news-list-head:before {
  bottom: 100%;
}
.news-list-head:after {
  top: 100%;
}