
/* common */
:root {
  --main--color: #7e511fd4;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}
body {
  background: #F7ECDE;
  letter-spacing: 1px;
}
p, a, li, td, dt, dd, span, p.h1, p.h2, p.h3, p.h4, p.h5 {
  font-size: 18px;
  line-height: 1.8;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
  opacity: 0.6;
  transition: ease .4s;
}
img {
  max-width: 100%;
}

/* additionals */
.text-shadow {
  text-shadow: 0 0 24px #565656;
}

/* component */
.button-white, .button-black {
  text-align: center;
  position: relative;
  padding: 12px;
  width: 88%;
  line-height: 1.5;
}
.button-white:before, .button-black:before {
  position: absolute;
  content: '';
  width: 16%;
  top: 50%;
  transform: translateY(-50%);
  right: -24px;
}
.button-white:after, .button-black:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  right: -22px;
}
.button-white {
  border: 1px solid #fff;
  color: #fff;
}
.button-white:before {
  border-bottom: 1px solid #fff;
}
.button-white:after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.button-black {
  border: 1px solid #000;
  color: #000;
}
.button-black:before {
  border-bottom: 1px solid #000;
}
.button-black:after {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
a.has-under-line {
  text-decoration: underline;
  color: var(--main--color);
}