/* bootstrap 修正 */
.navbar-collapse {
  flex-grow: initial;
}

header {
  color: #fff;
  z-index: 100;
}
.logo {
  filter: brightness(0) invert(1);
  max-width: 160px;
}

@media screen and (min-width:768px) {
  .menu {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
  }
  .header-mainColor {
    background: var(--main--color);
    transition: ease 1s;
  }
  .header-transparent {
    background: transparent;
    transition: ease .4s;
  }
}